@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilo Barra de Navegación */
.nav-Menu {
  background-color: #1388cc;
  list-style-type: none;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  min-width: 150px;
}

.nav-Menu .nav-Menu-Logo {
  font-family: cursive;
  padding-left: 30px;
}

.nav-Menu .nav-Menu-Logo .nav-container-logo {
  position: relative;
  text-align: center;
  color: white;
}

.nav-Menu .nav-Menu-Logo .nav-container-logo .img-logo {
  display: block;
  position: relative;
  height: 60px;
  width: 60px;
  background: #ff8f00;
  border-radius: 20px;
  transform: skew(-10deg);
}

.nav-Menu .nav-Menu-Logo .nav-container-logo .overlay-logo-text {
  font-size: 24px;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ff8f00;
  border-radius: 35%;
}

.nav-Menu .nav-Menu-Logo .nav-container-logo .overlay-logo-text:hover {
  opacity: 1;
}

.nav-Menu .nav-menu-btns {
  margin-left: 100px;
}

.nav-Menu ul {
  list-style-type: none;
}

.nav-Menu ul li {
  float: left;
  font-size: 20px;
}

.nav-Menu ul li a {
  cursor: pointer;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.nav-Menu ul li a:hover {
  background-color: white;
}

/* Estilo App*/
.main-container {
  margin-top: -20px;
}

/* Estilo componente "Inicio" */
.containerInicio {
  max-height: 200px;
  margin-top: 30px;
}

.initial-thread {
  display: grid;
  margin: 10px;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  overflow: hidden;
  height: 100px;
  max-height: 100px;
  background-color: #33b1eb;
  border-radius: 5px;
}

.initial-author-Thread {
  background-color: black;
  color: white;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  max-height: 90px;
  padding: 10px;
}

.initial-body-Thread {
  padding-left: 5px;
}

.initial-body-Thread .initial-route-Thread {
  cursor: pointer;
}

.initial-body-Thread .initial-title-Thread {
  font-size: 20px;
  font-weight: bold;
}

.initial-body-Thread .initial-Thread {
  font-size: 12px;
}

/* Formulario Modal */
.modal-new-thread .new-thread-form .btns-modal-form {
  margin-top: 20px;
}

.modal-new-thread .new-thread-form .btns-modal-form .btn-modal-send {
  background-color: green;
}

.modal-new-thread .new-thread-form .btns-modal-form .btn-modal-close {
  background-color: red;
  margin-left: 5px;
}

.btn-closeModal {
  padding: 15px 25px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn-closeModal:hover {
  background-color: #3e8e41;
}

.btn-closeModal:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*  Footer ejs */
.container.footer {
  background-color: black;
}
