<%- include("./partials/header.ejs") %>

<main>
  <section>
    <div class="container">
    <div class="alert alert-warning" role="alert">
      <h2>¯\_( ͡❛ ͜ʖ ͡❛)_/¯ Página no encontrada</h2>
      <i><a href="../"><b>☜ Volver a la página anterior</b></a>
    </div>
    </div>
  </section>
</main>

<%- include("./partials/footer.ejs") %>