<%- include("./partials/header.ejs") %>

<header>
  <div class="container">
    <h1>Reus Salud Mental</h1>
  </div>
</header>

<main>
  <section>
    <div class="container">
      <form id="usuario-form-login" action="/forum" type="txt/html">
        
          <p><quote>"<b><%= fraseSalut.frase %></b>"<br> ~ <u><%= fraseSalut.autor %></u></quote></p>

          <h2>Conexión</h2>
          <p>Debe realizar previamente una solicitud de registro, puede solicitar una invitación en uno de los siguientes <NavLink to='/centros-miembros'>centros de salud mental</NavLink>.</p>
          
          <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input name="email" type="email" class="form-control" id="email" />
              
          </div>
          <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input name="password" type="password" class="form-control" id="password" />
          </div>
          <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="recordar" />
              <label name="recordar" class="form-check-label" for="recordar">Recordar contraseña</label>
          </div>
          <button id="login" class="btn btn-primary">Conectar</button>
          <a href="/registro" class='btn'>Registrarse</a>
          </form>
      </div>
  </section>
</main>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const loginForm = document.querySelector('#usuario-form-login')

  loginForm.addEventListener('submit', async (e) => {
    // e.preventDefault()
    try {
      const response = await axios.post('/api/usuarios/login', {
        email: e.target.elements.email.value,
        password: e.target.elements.password.value
      })

      const AUTH_TOKEN = response.data.token
      localStorage.setItem('auth-token', AUTH_TOKEN)
      getAuthToken()
    } catch (error) {
      console.log(error)
    }
  })

  const getAuthToken = () => {
    const AUTH_TOKEN = localStorage.getItem('auth-token')
    console.log('auth token from usuario-login.ejs', AUTH_TOKEN)
    axios.defaults.headers.common['Authorization'] = AUTH_TOKEN
  }

  getAuthToken()
</script>

<%- include("./partials/footer-login.ejs") %>