<%- include("./partials/header.ejs") %>

<div class="container">
    <form id="user-form-create" name="usuarios">
        <h2>Solicitud de Registro</h2>
        <p>Rellene todos los campos para completar su registro.</p>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" />
        </div>

        <div class="mb-3">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos" />
            
        </div>

        <div class="mb-3">
            <label for="alias" class="form-label">Alias</label>
            <input type="text" class="form-control" id="alias" name="alias" />
        </div>

        <div class="mb-3">
            <label for="fechaNaci" class="form-label" >Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="fechaNaci" name="fechaNaci" placeholder="DD/MM/AAAA"  />
            
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" />
            <div id="none" class="form-text">Nunca compartiremos tu correo electrónico con nadie más.</div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" />
        </div>

        <div class="mb-3">
            <label for="tipoCuenta" class="form-label">Tipo de acceso</label><br/>
            <select class="form-select form-select-sm" name="tipoCuenta">
                <option selected>Selecciona...</option>
                <option value="Familiar">Familiar</option>
                <option value="Usuario">Usuario</option>
            </select>
        </div>

        <div class="mb-3">
            <div id="privacidad" class="form-text">Opciones de privacidad</div>
            <select class="form-select form-select-sm" name="tipoPrivacidad">
                <option selected>Selecciona...</option>
                <option value="Alias">Anónimo</option>
                <option value="Nombre">Mostrar nombre y apellido</option>
            </select>
        </div>

        <button class="btn btn-primary">Registrarse</button>
        <a href="/" class="btn btn-primary" class='btn'>Volver</a>
        </form>

    </div>

<%- include("./partials/footer-signup.ejs") %>